body {
  font-size: 50px !important;
  font-family: Roboto !important;
  font-weight: 100 !important;
  color: silver !important;
  background-color: rgb(20, 20, 20) !important;
}

::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background:rgb(20, 20, 20);}
::-webkit-scrollbar-thumb{background-color:transparent;border:2px solid rgb(110,110,110);border-radius:10px;}
::-webkit-scrollbar-thumb:hover{background-color:rgb(110,110,110);border:2px solid rgb(20,20,20);}

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: 36px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: silver;
  fill: rgb( 20, 20, 20 );
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  border: 1px solid rgb( 20, 20, 20 );
  transition: background-color 0.5s ease-in-out, fill 0.5s ease-in-out, border 0.5s ease-in-out;
}

#backToTop:hover {
  transition: background-color 0.5s ease-in-out, fill 0.5s ease-in-out, border 0.5s ease-in-out;
  background-color: rgb( 20, 20, 20 );
  fill: silver;
  border: 1px solid #c0c0c070;
}

.slide {
  position: relative;
  height: 1005px;
}

.spacer {
  height: 100px;
  width: 100%;
  background-color: rgb( 20, 20, 20 );
}

.overlay-1 {
  position: absolute;
  top: 0;
  height: 1005px;
  width: 100%;
  overflow: scroll;
}

.overlay-1::-webkit-scrollbar {
  display: none;
}

.main-title {
  font-size: 100px;
}

.gradient-ltr {
  background: linear-gradient(to right, black 0%, rgba( 20, 20, 20, 0.8) 30%, transparent 100%)
}

.gradient-scroll {
  background: linear-gradient(to top, rgb( 20, 20, 20 ) 2%, transparent, rgb( 20, 20, 20 ));
}

.text-over-l {
  position: absolute;
  top: 400px;
  left: 100px;
}

.text-over-r {
  position: absolute;
  top: 400px;
  right: 100px;
}

.text-over-small-l {
  position: absolute;
}

.text-center {
  text-align: center;
  padding-top: 25%;
}

.subtitle {
  color: rgb(110, 110, 110);
  font-weight: 100;
  font-size: 60px;
}

.list-text {
  font-weight: 100;
  font-size: 30px;
}

.slide-title {
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

.options_3d {
  background: linear-gradient(to right, rgba(239, 108, 0, 0), rgba(239, 108, 0, 0));
  cursor: pointer;
}

.options_3d:hover {
  background: linear-gradient(to right, rgba(239, 108, 0, 0.6), rgba(239, 108, 0, 0));
}

.options_3d_content {
  display: none;
}

.m-50 {
  margin: 50px;
}

.m-100 {
  margin: 100px;
}

.m-200 {
  margin: 200px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mt-100 {
  margin-top: 100px;
}

.p-20 {
  padding: 30px;
}